body{
    margin: 0;
	padding: 0;
	border: 0;
    position: display;
    justify-content: center;
    background-color: #F6F6F6;
    color: #1B1B1B;
}

.pageContainer{
    padding-left: 24px;
}

.itemHeaderTitulo {
    width: 100%;
    justify-content: center;
}

.tituloHeader {
    background-color: transparent;
    margin-top: 32px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.02em;
}

.TopButton {
    position: absolute;
    margin-top: 24px;
    padding-left: 15px;
}

.tituloH1 {
    font-size: 20px;
    font-weight: 700;
    padding: 4px 0 4px 0;
    letter-spacing: 0.02em;
}

.tituloH2 {
    font-size: 18px;
    font-weight: 500;
    padding: 4px 0 4px 0;
    letter-spacing: 0.02em;
}

.subtitulo {
    font-size: 16px;
    font-weight: 700;
    padding: 4px 0 4px 0;
    letter-spacing: 0.02em;
}

.body2{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.buttonContainer{
    justify-content: center;
    margin-bottom: 16px;
}

.tituloContainer{
    justify-content: center;
    text-align: center;
    padding: 24px;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
}


.BotaoDoPanico {
    position: fixed;
    top: 660px;
    z-index: 9998;
    border: none;
    outline: none;
    cursor: pointer;
    left: 280px;
    padding-bottom: 16px;
    border-radius: 10px;
}

.Menu {
    position: fixed;
    margin-bottom: 0;
    top: 744px;
    width: 100%;
    z-index: 9999;
}

.EspacoInferior {
    padding-bottom: 100px;
}

.MuiMobileStepper-dotActive{
    background-color:#357F78
}

.css-oxfx9-MuiPaper-root-MuiMobileStepper-root{
    background-color:transparent !important;
}

.css-rh92k-MuiPaper-root-MuiMobileStepper-root {
    background-color:transparent !important;
}