/* @media (max-width: 360px)
{
    body {        
        background-color: blue;
    }
} */
.A1, .B1, .C1 {
    height: 800px;
    width: 360px;
    display: flex;
    justify-content: center;
}

.Ilustracao {
    position: absolute;
    width: 200px;
    height: 200px;
    left: calc(50% - 200px/2);
    top: calc(50% - 200px/2 - 144px);
    }

.Artigo {
    padding: 25px
}

.BotaoGeral {
    width: 34px;
}

.A1h1 {
    position: absolute;
}

.A1body2{
    position: absolute;
    width: 312px;
    height: 84px;
    left: calc(50% - 312px/2);
    top: calc(50% - 84px/2 + 62px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
}

.A1pular{
    top: 644px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: capitalize;
}


.B1body1{
    position: relative;
    align-items: center;
    top: 528px;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.B1body2 {
    position: fixed;
    width: 312px;
    height: 42px;
    left: 24px;
    top: 420px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
}

.B1finalizar {
    top: 241px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: capitalize;
}

.C1buscar{
    align-items: center;
    margin: 24px;
}

.C1chips {
    margin: 5px;
}

.C1destaques{
    position: absolute;
    width: 90px;
    height: 24px;
    left: 24px;
    top: 126px;     
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
        
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
}



.BotaoDoPanico {
    display: absolute;
    position: sticky;
    bottom: 50px;
    left: 280px;
    z-index: 9999;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;

}