.ilustracao{
    justify-content: center;
    padding: 64px;
}

.agendarAtendimentoButton{
    width: 312px;
}

.formContainer{
    margin-right: 24px;
    margin-top: 16px;
}

.calendarioContainer{
    margin-right: 24px;
    max-width: 312px;
    margin-bottom: 40px;
}

.textForm{
    width: 312px;
    margin-bottom: 16px;
}

.protocoloContainer{
    margin-top: 80px;
    margin-bottom: 40px;
    margin-right: 24px;
}
