.leaflet-container {
    width: 360px;
    height: 800px;
}

.leaflet-left {
    left:295px;
    margin-top: 2px;
}

.containerBotao{
    padding:24px 0 0 16px;
    position:absolute;
    z-index:999;
}
